{% extends "feed/layout.html" %} {% load static %}
{% block homeactive %}active{% endblock homeactive %}
{% block content %}

<div class="row mt-5 mb-4">
  <div class="col-12">
    <h1>{{key.name}}</h1>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    <p class="ml-3" style="font-size:18px"><b>Name : </b>{{key.name}}</p>
    <p class="ml-3" style="font-size:18px"><b>Saran : </b>{{key.saran}}</p>
    <p class="ml-3" style="font-size:18px"><b>Minda : </b>{{key.minda}}</p>
    <p class="ml-3" style="font-size:18px"><b>Polythene : </b>{{key.madin}}</p>
    <p class="ml-3" style="font-size:18px"><b>Total : </b>{{total}}</p>
    <p class="ml-3" style="font-size:18px"><b>Last Updated on : </b>{{key.date}}</p>
    <p class="ml-3" style="font-size:18px"><b>Actions : </b>
        <a class="btn btn-primary" href="{% url 'key-update' key.id %}">Edit</a>
        <button type="button" class="btn btn-danger" data-target="#deleteModal" data-toggle="modal">Delete Item</button>
    </p>
  </div>
</div>
    
<!-- Modal -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">
     <p>Are you sure you want to delete?</p>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal" aria-label="Close">No</button>
     <a class="btn btn-danger" href="{% url 'key-delete' key.id %}">Yes</a>
    </div>
   </div>
  </div>
</div>

<script src="{% static 'base.js' %}"></script>

  {% endblock content %}

  {% block jsfiles %}
  <script>
    
  </script>
  {% endblock jsfiles %}